log/
gitignore/
database_backups/
old_stuff/
banned_img/

# Test Rai
local/
Rai Test/

# python directories
src/
lib/
bin/
extern/
include/
share/
*/__pycache__/

# scratch files
scratch*

# API key files
API*

# Ignore files starting with a dot
.*

# all text files except those specified below
*.txt
!cogs/utils/conversation_topics.txt
!cogs/utils/french_conversation_topics.txt
!requirements*.txt

# other file extensions
*.json
*.png
*.sh
*.bat
*.lnk
*.vs
*.csv
*.cfg
*.toml
*.db
*.sublime*
*.pyc

# Levenshtein module files
COPYING
HISTORY.md
setup.py
