log/
__pycache__/
gitignore/
cogs/__pycache__
database_backups/
local/
.vs
BasicBot*
API*
*.txt
*.json
*.png
*.sh
*.bat
Rai Sorted List of Members Per Role.py
README.md
scratch.py
Watch Channel.py
cogs/test.py
Rai Test.py
Rai Count Most Frequent Kanji.py
cogs/new_years_stats.py
hardcore_test*
cogs/~local cogs.lnk
scratch*
fake_discord.py
Rai/*
Rai_2*
Rai_2/*