aiohttp~=3.8.1
aiosignal
async-timeout
attrs
beautifulsoup4~=4.11.1
charset-normalizer
click
colorama
cycler
fonttools
frozenlist
idna
jarowinkler
joblib
kiwisolver
Levenshtein~=0.18.1
matplotlib~=3.5.2
multidict
nltk
numpy~=1.22.4
packaging
Pillow
pyparsing
python-dateutil
python-dotenv~=0.20.0
rapidfuzz
regex
scikit-learn~=1.1.1
scipy
six
soupsieve
threadpoolctl
tqdm
yarl

git+https://github.com/Rapptz/discord.py.git

tensorflow~=2.9.1
tensor2tensor~=1.15.7