aiohttp
aiosignal
async-timeout
attrs
beautifulsoup4
charset-normalizer
click
colorama
cycler
fonttools
frozenlist
idna
jarowinkler
joblib
kiwisolver
Levenshtein
matplotlib
multidict
nltk
numpy
packaging
Pillow
pyparsing
python-dateutil
python-dotenv
rapidfuzz
regex
scikit-learn
scipy
six
soupsieve
threadpoolctl
tqdm
yarl

git+https://github.com/Rapptz/discord.py.git
